.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    align-items: center;
    justify-content: center;
    z-index: 99;
    transition: all .25s ease-in;
    display: none;
}

.popup__content {
    width: 60%;
    height: 60%;
}

.popup__content iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    animation: scale .35s;
}

.popup_active {
    display: flex;
    animation: fadeIn .25s;
}


.popup__close {
    font-size: 45px;
    color: #fff;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .popup__close {
        top: 20px;
        right: 20px;
        font-size: 35px;
    }

    .popup__content {
        width: 90%;
        height: 35%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(0.1);
    } 

    100% {
        transform: scale(1);
    }
}
